root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
max_line_length = 80

[*.{groovy,kts}]
indent_size = 4
max_line_length = 100

[*.groovy]
ij_groovy_use_single_class_imports = true
ij_groovy_class_count_to_use_import_on_demand = 99
ij_groovy_names_count_to_use_import_on_demand = 99
